src/main/app/addcontact.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="contactPOSTFlow">
        <logger message="Enter POST flow" level="DEBUG" category="postContactLogger" doc:name="Logger"/>
        <dw:transform-message doc:name="Format incoming JSON" metadata:id="10df858e-37c0-4237-a206-89909821add5">
            <dw:input-payload doc:sample="C:\Users\Nathan\Desktop\addcontact_request.json" mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
%input payload application/java
---
[{
	LastName: payload.LastName,
	FirstName: payload.FirstName,
	Salutation: payload.Salutation,
	OtherStreet: payload.OtherStreet,
	OtherCity: payload.OtherCity,
	OtherState: payload.OtherState,
	OtherPostalCode: payload.OtherPostalCode,
	OtherCountry: payload.OtherCountry,
///	OtherLatitude: payload.OtherLatitude as :number,
///	OtherLongitude: payload.OtherLongitude as :number,
///	OtherGeocodeAccuracy: payload.OtherGeocodeAccuracy,
	MailingStreet: payload.MailingStreet,
	MailingCity: payload.MailingCity,
	MailingState: payload.MailingState,
	MailingPostalCode: payload.MailingPostalCode,
	MailingCountry: payload.MailingCountry,
///	MailingLatitude: payload.MailingLatitude as :number,
///	MailingLongitude: payload.MailingLongitude as :number,
///	MailingGeocodeAccuracy: payload.MailingGeocodeAccuracy,
	Phone: payload.Phone,
	MobilePhone: payload.MobilePhone,
	HomePhone: payload.HomePhone,
	OtherPhone: payload.OtherPhone,
	AssistantPhone: payload.AssistantPhone,
	Fax: payload.Fax,
	Email: payload.Email,
	Title: payload.Title,
	Department: payload.Department,
	AssistantName: payload.AssistantName,
	(Birthdate: payload.Birthdate as :date) when payload.Birthdate != null,	
	Description: payload.Description
}]]]></dw:set-payload>
        </dw:transform-message>
        <logger message="Supplied data prepared for SFDC call" level="DEBUG" category="postContactLogger" doc:name="Logger"/>
        <sfdc:create config-ref="ndbeal_SF_Authentication" type="Contact" doc:name="Salesforce">
            <sfdc:objects ref="#[payload]"/>
        </sfdc:create>
        <logger message="Data sent to SFDC sucessfully" level="DEBUG" category="postContactLogger" doc:name="Logger"/>
        <dw:transform-message doc:name="Format response" metadata:id="a683c425-86bc-42e3-945f-e29722fb152b">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	success: payload[0].success,
	status: 200 when payload[0].success otherwise 400,
	message: payload[0].id when payload[0].success otherwise (flatten payload[0].errors.*statusCode) joinBy ", "
}]]></dw:set-payload>
            <dw:set-property propertyName="http.status"><![CDATA[%dw 1.0
%output application/java
---
200 when payload[0].success otherwise 400]]></dw:set-property>
        </dw:transform-message>
        <logger message="Exit POST flow #[payload]" level="DEBUG" category="postContactLogger" doc:name="Logger"/>
    </flow>
</mule>
