src/main/app/non_api_utilities.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:oauth2-provider="http://www.mulesoft.org/schema/mule/oauth2-provider" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp" xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/oauth2-provider http://www.mulesoft.org/schema/mule/oauth2-provider/current/mule-oauth2-provider.xsd">
    <smtp:gmail-connector name="Gmail" validateConnections="true" doc:name="Gmail"/>

    <flow name="aliveFlow">
        <http:listener config-ref="api-httpListenerConfig" path="/alive" doc:name="HTTP"/>
        <set-payload value="and kicking (like a mule)." doc:name="Set Payload"/>
    </flow>

    <flow name="notifyFlow">
        <sfdc:subscribe-topic config-ref="ndbeal_SF_Authentication" topic="/ContactTopic" doc:name="Salesforce (Streaming)"/>
        <logger message="Received #[message.inboundProperties.type] Event : #[payload.Id] - #[payload.FirstName] #[payload.LastName]" level="INFO" doc:name="Logger"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <smtp:outbound-endpoint host="smtp.gmail.com" user="${email.user}" password="${email.pass}" connector-ref="Gmail" to="nathan.beal@bitsinglass.com" from="cool-mule.com" subject="SFDC Event!" responseTimeout="10000" doc:name="SMTP"/>
    </flow>
</mule>
