target/test-classes/updatecontact.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="contactPUTFlow">
        <logger message="Entering PUT flow" level="DEBUG" category="putContactLogger" doc:name="Logger"/>
        <dw:transform-message doc:name="Copy ID from HTTP header if required" metadata:id="608a62ae-d6a6-4584-bd98-b16e9abaa4af">
            <dw:input-payload/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	// if invoked with a URI reference to the path we need to copy from there, otherwise the expectation/assumption is it's part of the body'
	Id: (payload.Id) when inboundProperties.'http.uri.params' == null or inboundProperties.'http.uri.params'.SFDC_Id == null otherwise inboundProperties.'http.uri.params'.SFDC_Id,
//	Id: payload.Id,
	LastName: payload.LastName,
	FirstName: payload.FirstName,
	Salutation: payload.Salutation,
	OtherStreet: payload.OtherStreet,
	OtherCity: payload.OtherCity,
	OtherState: payload.OtherState,
	OtherPostalCode: payload.OtherPostalCode,
	OtherCountry: payload.OtherCountry,
///	OtherLatitude: payload.OtherLatitude as :number,
///	OtherLongitude: payload.OtherLongitude as :number,
///	OtherGeocodeAccuracy: payload.OtherGeocodeAccuracy,
	MailingStreet: payload.MailingStreet,
	MailingCity: payload.MailingCity,
	MailingState: payload.MailingState,
	MailingPostalCode: payload.MailingPostalCode,
	MailingCountry: payload.MailingCountry,
///	MailingLatitude: payload.MailingLatitude as :number,
///	MailingLongitude: payload.MailingLongitude as :number,
///	MailingGeocodeAccuracy: payload.MailingGeocodeAccuracy,
	Phone: payload.Phone,
	MobilePhone: payload.MobilePhone,
	HomePhone: payload.HomePhone,
	OtherPhone: payload.OtherPhone,
	AssistantPhone: payload.AssistantPhone,
	Fax: payload.Fax,
	Email: payload.Email,
	Title: payload.Title,
	Department: payload.Department,
	AssistantName: payload.AssistantName,
	(Birthdate: payload.Birthdate as :date) when payload.Birthdate != null,	
	Description: payload.Description
}]]></dw:set-payload>
        </dw:transform-message>
        <logger message="Sending data for #[payload.Id] to SFDC " level="DEBUG" category="putContactLogger" doc:name="Logger"/>
        <sfdc:update-single config-ref="ndbeal_SF_Authentication" type="Contact" doc:name="Salesforce"/>
        <logger message="Response recieved from SFDC" level="INFO" category="putContactLogger" doc:name="Logger"/>
        <dw:transform-message doc:name="Format response">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"success": payload.success,
	"status": 200 when payload.success otherwise 400,
	("message": (flatten payload.errors.*message) joinBy ", ") when payload.success == false 
}]]></dw:set-payload>
        </dw:transform-message>
        <logger message="Exiting PUT flow" level="DEBUG" category="putContactLogger" doc:name="Logger"/>
    </flow>
</mule>
